# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "mysql://root@localhost/icproject3?"
set es_enableCustomData 1
set discord_webhook 'https://discord.com/api/webhooks/781558712132960276/45mjvUkaXC7_woIieecnDycDqjkzqkJoTU3f6TdUizFQIcg7DvybIERNiRSuHx-7FQ7M'
setr voice_use3dAudio true
setr voice_useSendingRangeOnly true
add_ace group.admin dzp allow
# These resources will start by default.
ensure logdunglenh
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure esx_rpchat
ensure es_extended
ensure async
ensure mysql-async
ensure esplugin_mysql
#ensure essentialmode
ensure RufiUniqueID
ensure instance
# ensure Ribes_M2021
ensure esx_menu_default
ensure esx_menu_list
ensure esx_menu_dialog
# ensure admin
ensure cron
ensure esx_identity
ensure esx_skin
ensure esx_society
ensure esx_addonaccount
ensure esx_addoninventory
ensure skinchanger
ensure esx_status
ensure esx_basicneeds
ensure esx_barbershop
ensure es_admin2
ensure xnTattoos
ensure esx_dmvschool
ensure esx_extraitems
ensure esx_goDirty

ensure PvP
ensure esx_billing
ensure esx_datastore
ensure esx_license
ensure esx_service
ensure esx_policejob
ensure platinum_cars
ensure esx_vehicleshop
ensure esx_ambulancejob
ensure esx-qalle-jail
ensure esx_drugs_noweed
ensure mythic_progbar
ensure pNotify
ensure mythic_notify
ensure jsfour-idcard
ensure esx_giveownedcar
# ensure xoanpc
ensure XoaPhanThuongSung
ensure lorraxs_percent
ensure esx_doorlock
ensure esx_carlock
# ensure ESX_GetOut
ensure ai_mechanic
ensure hoisinh
ensure core_carsharing
ensure zffb_dice
ensure 3dme
ensure esx_plasticsurgery
ensure esx_Tbao
# Map
ensure gabz_pillbox_hospital
ensure bob74_ipl
# PK custom
ensure vb-banking

ensure pk_invnotify
ensure uptime
ensure minigame-main
# ensure LinxLoadscreen
# ensure guidehud
ensure XGameLoadingScreen
ensure pk_customs
ensure pk_LoadBar
ensure lorraxs_cashshop
# ensure pk_map
# ensure core_weapon
ensure CoordsSaver1
# ensure nocarjack
ensure core_crafting
ensure RedeemCodes

#CUSTOM#

ensure esx_trunk
ensure esx_inventoryhud
ensure jclothes
ensure dpclothing
# ensure esx_advancedgarage
# ensure hrp_pd_impound
ensure lr_garage
ensure lr_impound
ensure lr_admin
ensure meeta_damage
ensure meeta_shops
ensure esx_blackmarket
ensure PM
ensure khobau
# ensure inferno-weapons
# ensure xzero_emotes_ui
ensure dpemotes
ensure instruction_menu
ensure allshiba
ensure lscustoms
ensure esx_giveallplayers


#[BAOMAT]
ensure LRPT_RELOAD
#ensure menuv
#ensure vbac-module2
#ensure VB-AC
#########PHONE#############
# ensure gcphone
# ensure esx_addons_gcphone
ensure d-phone
ensure mumble-voip
ensure rp-radio
ensure jobcenter
# ensure esx_voice
# ensure screenshot-basic
#ensure discord-screenshot
ensure alertmenu_original
ensure allcity_deadscreen
ensure scotty-gachapon
ensure policeform
# ensure policeform2
ensure fd_frakmenu
# ensure Taoloimoi
#Test
#ensure fax-logo
#ensure nb_menuperso

#############JOB#################
# ensure esx_minerjob
# ensure esx_wood
# ensure esx_oildrill
# ensure nw_mine
ensure esx_communityservice
ensure esx_mechanicjob
ensure esx_wanted
ensure esx_AdvancedFishing
ensure esx_garbagecrew
#LR
# ensure esx_lscustom
ensure idoverhead
#ensure lorraxs_menu
ensure lorraxsnotify
ensure lr_drop
ensure esx_scoreboard
# ensure lr_occupation
ensure chanle
ensure lr_gang
ensure lr_societydata
ensure quan_nhi_ca
ensure bantho
ensure bucbantho

#23/2
ensure esx_holdup
ensure esx_holdupbank
ensure esx_vangelico_robbery
ensure esx_marker
#ensure esx_stores
ensure esx_mechanic
ensure esx_weaponshop
ensure antiweaponbug
# ensure evy_armwrestling-main
#############TRUCK#############
ensure vex_trucker
ensure actros
ensure daf
ensure G0d3sm1wa7o_truck
ensure man
ensure SimulatorTrailers
ensure t680
ensure VNL780
ensure W900
# ensure xoasungnganh
ensure ic_item
############Gasstation##########
#ensure esx_fuel
#ensure esx_gasstation
ensure LegacyFuel
ensure hoanganh
ensure MeleeMod
#### AnhGia ###
ensure 488
ensure mcgt20
ensure urus
ensure sian
ensure rs6c8
ensure boss429
ensure kypo-drug-effect





##### JOHN ####
ensure sit


####### CAR #########
ensure rmodmustang
ensure hoanganh
ensure JK

############cardealer###########
ensure esx_dealership



############HUD###########
ensure kittidexh_carhud
ensure kittidexh_statushud
ensure hud
# ensure nbk_cstyle_killfeed
# ensure nbk_cstyle_killfeed_stream
# ensure scaleforms
# ensure threads

################Viet##############
ensure policelspd_car
ensure policecar
######MAP############
ensure prison-map
ensure lr_safezone
ensure xoadamedau
ensure hospitalint
ensure replace_vehicles
ensure hyphonema
ensure FuelStation
######HOUSE############
# ensure furni
# ensure allhousing
# ensure input
# ensure lockpicking
ensure vSync
# ensure meta_libs
# ensure mythic_interiors

#######VIET########
ensure xemed
ensure polchiron
ensure esx_contract
ensure EMS_GALAXY
ensure Ferari
ensure gtr50
ensure EMS_GLX
# ensure taixiu
ensure mansgt
ensure D99
ensure vario150




######## [DISCORD LOGS] #######
ensure logsJD
ensure Logs
ensure D2FiveM
ensure discord_command_logger
ensure DiscordBot


##### JUST #######
ensure lamtmc_zetnguyen
ensure Police_4cho
ensure monza_SeaKush
ensure PEPE
ensure MED
ensure MEC
ensure vinfastlux20
######GANG########
# ensure chobua
# ensure yakuza


# ensure xzero_shop
# ensure xzero_market


#######300KG###########
ensure hog
ensure 21sierra
ensure g63amg6x6
ensure gazel
ensure RAPTOR150
ensure velociraptor
ensure xxxxx
#ensure vario150
#25/4/2021
ensure esx_TigerHunting

ensure Audi
ensure bmwx7
ensure ctsv16
ensure rmodmi8lb
ensure h2carb
ensure rmodbugatti
ensure mansm8
ensure aventsvjr
ensure zx10r


##############################
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow
add_ace group.admin request.screenshot allow


# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "esx, vietnam, vn, roleplay, dream world, anh chi em, drugs, robbers, robbank, custom scripts, custom cars, police, cars, jobs, fun, rô li bờ lay,esx"
sets locale "vi-VN"
# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
sets banner_detail "https://images-ext-1.discordapp.net/external/gYx8o-LGA7wk4Tx35yo_X5QpBagYrs3PcxwKQZdEGcw/%3Fwidth%3D1178%26height%3D68/https/media.discordapp.net/attachments/826108567262199829/850405797586534410/junncbanner.png"
sets banner_connecting "https://media.discordapp.net/attachments/826108567262199829/853345829179490304/banner_2.jpg?width=1440&height=268"

# Set your server's hostname
sv_hostname "^2[VIETNAM] ^1DREAM WORLD ^7[^260FPS^7] ^7| ^3Discord.gg/dreamworld2021"

sets sv_projectDesc ''
sets sv_projectName '^1[VIETNAM] DREAM WORLD'

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon logo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:11000011154befa group.admin # add the admin to the group
add_ace identifier.steam:11000011154befa inventory.openinventory allow 
add_ace identifier.steam:11000011a13d069 inventory.openinventory allow #zero
add_ace identifier.steam:1100001334f7790 inventory.openinventory allow #junnc
add_ace identifier.steam:11000013fd3ca29 inventory.openinventory allow #just 
add_ace identifier.steam:1100001181d2636 inventory.openinventory allow #jk 
add_ace identifier.steam:11000010b200bb9 inventory.openinventory allow #jk 
add_ace group.admin inventory.openinventory allow #admin 



# add_ace CHADMIN chocohaxadministrator allow #CHADMINs are allowed to use the Admin Menu + CHMOD permissions
# add_ace CHMOD chocohaxmoderator allow #CHMODs are allowed to bypass 90% of the anticheat

# add_principal identifier.steam:11000011154befa CHADMIN #duy
# add_principal identifier.steam:11000011a13d069 CHADMIN #zero
# add_principal identifier.steam:1100001334f7790 CHADMIN #junnc
# add_principal identifier.steam:1100001181d2636 CHADMIN #jk
# add_principal identifier.steam:11000013fd3ca29 CHADMIN #just 
# Hide player endpoints in external log output.
sv_endpointprivacy true

# enable OneSync with default configuration (required for server-side state awareness)
#onesync_enabled true

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 250

set steam_webApiKey "4F793FA6CF168CDA7F00939951EE24C0"

# License key for your server (https://keymaster.fivem.net)
# sv_licenseKey "o88ds9geogvabcpfzl4623zoh3bxmiuk"
# sv_licenseKey wa6syiaf1p2u4rnc9e4x6p6e6czvskzy
sv_licenseKey 6nho7j49cnpcb33i63qxqrgnimrvbeqz
stop webadmin

