/*body {
    background-image: url(http://i.imgur.com/53VuA1B.jpg);
}
*/
@font-face {
     font-family: 'bankgothic';
     src: url('../fonts/bankgothic.ttf')
}

html {
     overflow: hidden;
}

body {
     font-family: 'Kanit', sans-serif;
     background-color:rgba(0, 0, 0, 0);
}


#hud {
     position: absolute;
     font-family: 'Pricedown';
     font-size: 35px;
     color: white;
     padding: 4px;
     text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
     text-align: right;
     top: 80;
     right: 40;
}

#inventory_notifications {
     font-family: bankgothic;
     position: absolute;
     right: 40;
     bottom: 40;
     font-size: 2em;
     font-weight: bold;
     color: #FFF;
     text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}