
/* @font-face {
  font-family: myFirstFont;
  src: url('VNF-ComicSans.woff') format('woff');
} */

* {padding: 0; margin: 0; box-sizing: border-box; font-family: myFirstFont;}

.playerStats{
	position: absolute;
	right: 6px;
	top: 27%;
	text-align: right;
}

.group {
	margin-bottom: 10px;
}

.key {
	display: inline-block;
    background-color: rgba(0, 0, 0, 0.479);
    padding: 5px;
    border-radius: 3px;
    color: white;
    margin-left: 3px;
}

.text {
	display: inline-block;
	color: white;
	text-shadow: 1px 1px 1px #d3d2d2;
	font-size: 15px;
}