.phone-message {
    height: 100%;
    width: 100%;
    background: rgb(253, 253, 253);
    overflow: hidden;
    display: none;
}

.phone-message-header {
    position: relative;
    font-family: 'Samsung Sans thin';
    font-size: 2.5vh;
    top: 8%;
    left: 0%;
    width: 100%;
    height: 5vh;
    border-bottom: 0px;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 0vh;
}

.phone-chat {
    position: relative;
    height: 74%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    top: 8%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.phone-chat-input {
    position: relative;
    top: 8.5%;
    height: 8%;
    width: 100%;
}

.phone-chat-inputt {
    position: relative;
    left: 2vh;
    font-family: 'Samsung Sans medium'!important;
    height: 5vh!important;
    width: 18vh!important;
    border: none!important;
    outline: none;
    font-size: 2vh!important;
    float: left;
}

.phone-chat-inputt:hover {
    border: none!important;
}

.phone-chat-place {
    float: left;
    position: absolute;
    right: 0vh;
    bottom: -0.5vh;
    height: 6.5vh;
    font-size: 1.75vh;
    width: 9vh;
    line-height: 6.5vh;
    text-align: center;
}

.phone-chat-place>i {
    font-size: 2.2vh;
    float: left;
    margin-left: 1.5vh;
    margin-top: 1.5vh;
}

#phone-chat-placeicon {
    color: rgb(45, 45, 48);
}

#phone-chat-placeicon:hover {
    color: rgb(0, 0, 0);
}

.darkphone-chat-placeicon {
    color: rgb(177, 177, 177)!important;
}

.darkphone-chat-placeicon:hover {
    color: rgb(255, 255, 255)!important;
}

#phone-chat-send {
    color: rgb(27, 131, 216);
}

#phone-chat-send:hover {
    color: rgb(24, 106, 173);
}

.phone-chat-message {
    position: relative;
    min-height: 7vh;
    width: 100%;
    background-color: rgb(250, 248, 248);
    margin-top: 0.5vh;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.darkphone-chat-message {
    background-color: rgb(35, 35, 35);
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
}

.phone-chat-message-header {
    position: relative;
    height: 3vh;
    line-height: 3vh;
    width: 100%;
    color: rgb(92, 92, 92);
    font-family: 'Samsung Sans medium';
}

.darkphone-chat-message-header {
    color: rgb(224, 224, 224);
}

#phone-chat-message-name {
    position: relative;
    left: 1vh;
    height: 3vh;
    width: 5vh;
    font-size: 1.5vh;
}

#phone-chat-message-date {
    position: absolute;
    right: 0vh;
    height: 3vh;
    width: 12vh;
    font-size: 1.5vh;
}

.phone-chat-message-message {
    position: relative;
    min-height: 4vh;
    line-height: 2vh;
    font-size: 1.5vh;
    width: 100%;
    font-family: 'Samsung Sans medium';
    padding: 0.75vh;
}

.me {
    background-color: rgba(99, 167, 82, 0.3);
}

.me:hover {
    background-color: rgba(99, 167, 82, 0.4)!important;
    transition: 0.5s;
}

.phone-chat-message-message-gps {
    line-height: 2vh;
    position: relative;
    height: 3vh;
    width: 90%;
    margin-left: 10%;
}

.phone-chat-message-message-picture {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 0.5vh;
    margin-left: 1.5vh;
    height: 9.5vh;
    width: 100%;
}

.phone-chat-message-message-picture>img {
    height: 9vh;
    width: 23vh;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f100;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(247, 125, 11);
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(224, 115, 12)
}

.phone-recent-message {
    height: 100%;
    width: 100%;
    background: rgb(253, 253, 253);
    color: #000;
    overflow: hidden;
    display: none;
}

.phone-recent-messages-sector {
    position: relative;
    height: 82.5%;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    top: 8%;
    padding: 0.1vh;
}

.phone-recent-messages-selection {
    position: relative;
    width: 28.9vh;
    height: 6vh;
    line-height: 4vh;
    font-size: 2vh;
    color: rgb(36, 36, 36);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: 'Samsung Sans medium';
    font-weight: 600;
}

.phone-recent-messages-selection:hover {
    background-color: rgba(0, 0, 0, 0.014);
}

.darkmode-prms {
    color: white!important;
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.darkmode-prms:hover {
    background-color: rgba(228, 228, 228, 0.014);
}

#prm-contactname {
    position: relative;
    top: 0vh;
    width: 28.9vh;
    height: 3.5vh;
    line-height: 3.5vh;
    font-size: 1.8vh;
    padding-top: 0.25vh;
    padding-left: 1vh;
}

#prm-message {
    position: relative;
    top: 0vh;
    left: 0vh;
    width: 28.9vh;
    height: 2vh;
    line-height: 2vh;
    font-size: 1.5vh;
    padding-left: 1vh;
    color: rgb(138, 138, 138);
    overflow: hidden;
}