#exit {
	background-color: rgb(255, 187, 0);
	position: relative;
	top: 2%;
	left: 97%;
	color: grey;
}

#exit:hover{
	background-color: rgb(255, 0, 0);
}
#main-form {
	display: none;
	position: absolute;

	font-family: sans-serif;
	width: auto;
	height: auto;
	bottom: 5%;
	right: 38vw;

	background-color: #202020;
	border-style: solid;
	border-radius: 4px;
	border-width: 1px;
	border-color: #ffffff;

	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer */
	-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
	-webkit-user-select: none; /* Chrome, Safari, and Opera */
	-webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}


#button-main {
	height: fit-content;
	margin: 10px 10px 10px 10px;
}

.button2 {
	margin-top: 5px;
	
	width: auto;
	height: 2.5vw;
	border-radius: 4px;
	border-color: #ffffff;
	border-width: 1px;
	color: white;
}

.button {
	margin-top: 5px;
	
	width: 5vw;
	height: 2.5vw;
	border-radius: 4px;
	border-color: #ffffff;
	border-width: 1px;
	color: white;
}

.button:hover{
	background-color: #ffffff;
	color: #000000;
}

.button2:hover{
	background-color: #ffffff;
	color: #000000;
}


#retrieve-form {
	display: none;

	font-family: sans-serif;
	width: 43%;
	top: 10%;
	height: auto;
	margin: 2vw auto;
	bottom: 500px;
    padding: 20px;
	background-color: #202020;
	border-style: solid;
	border-radius: 4px;
	border-width: 1px;
	border-color: #ffffff;

	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer */
	-khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
	-webkit-user-select: none; /* Chrome, Safari, and Opera */
	-webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

/* Global */
h1 {
	font-size: 16px;
	text-transform: uppercase;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
	color: #ffffff;
    text-align: left;
    padding: 8px;
}

/* #retrieve-form td:last-of-type {
	text-align: right;
} */

table .btn {
	padding: 10px 20px;
}

.scrollable {
	height:25vw;
	overflow-x:hidden;
	overflow-y:auto;
}

table tbody {
	height: fit-content;
	
}

/* tr:nth-child(even){background-color: #f2f2f2}
 */
th {
    background-color: #4CAF50;
    color: white;
}

.btn {
	padding: 10px 35px;
	border-radius: 4px;
	border-color: #ffffff;
	border-width: 1px;
	color: white;
}
#ping:hover{
	background-color: #4286f4;
	color: #000000;
}
#success:hover{
	background-color: #1dd855;
	color: #000000;
}

#accept:hover{
	background-color:#1dd855;
	color: #000000;
}

#cancel:hover{
	background-color:#d81e1e;
	color: #000000;
}

.ping {
	background-color: #727272;

}
.success {
	background-color: #727272;

}

.accept {
	background-color: #727272;
}

.cancel {
	background-color: #727272;
}


.error {
	color: #d81e1e;
	display: block;
	font-weight: bold;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 186, 58); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
  }