@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto'
}

body {
    background: none !important;
}

#container {
    font-size: 20px;
    padding: 25px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(1, 1, 250);
    height: auto;
    width: auto;
    border: 1px solid rgb(63, 62, 62);
    border-radius: 7px;
}

p:hover {
    text-decoration: underline;
    text-shadow: 1.0px 1.0px black;
}

#textareas {
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}

textarea {
    display: inline-block;
    font-family: 'Roboto';
    color: white;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.466);
}

#buttons {
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;
}

button {
    display: inline-block;
    color: white;
    margin: auto;
    padding: 12px;
}

button#submit {
    background-color: #02a7df;
}

button#close {
    background-color: #f44336;
}